@model IEnumerable<Reservations>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="order-container">
    <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #F5C45E;">
        <b>Reservations</b>
        <a asp-controller="Reservation" asp-action="Create" class="btn btn-success" style="border:1px solid white;border-radius:30px;"><i class="bi bi-plus-circle"></i> Book A Table </a>

    </p>
    @if (Model == null || Model.Count() == 0)
    {
        <p style="color: #F4F8D3">You do not have any Reservations yet! </p>
    }
    else
    {
        <table class="base-table">
            <thead>
                <tr>
                    <th class="Customer-Name">Number Of Tables</th>
                    <th class="Order-Date">Time And Date  <i class='fas fa-calendar-alt'></i>:</th>
                    <th class="Customer-Name">User Name</th>

                    <th class="Customer-Number">Phone Number</th>
                    <th class="Customer-Items">Edit </th>
                    <th class="Customer-Items">Delete </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NumberOftables</td>
                        <td>@item.time</td>
                        <td>@item.user.UserName</td>
                        <td>@item.user.PhoneNumber</td>
                        <td>
                              <form asp-action="Edit" method="get" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-success" ><i class="bi bi-pencil-square"></i></button>
                            </form>

                        </td>
                        <td>
                            <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger" ><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<style>
    body {
        background-color: #222222;
        padding-top: 70px;
    }

    .order-container {
        max-width: 100%;
        background-color: #222222;
        margin: 50px auto;
        background: #222222;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .base-table {
        width: 100%;
        border-color: #674636;
    }

        .base-table th, .base-table td {
            border: 1px solid #FFFDF6;
            background-color: #F5C45E;
            padding: 10px;
            text-align: left;
            color: #674636;
            text-align: center;
        }

        .base-table td {
            border: 1px solid #FFFDF6;
            background-color: #181C14;
            color: #FDFAF6;
            padding: 10px;
            text-align: left;
        }

    .nested-table {
        width: 100%;
        border-color: #674636;
        border-radius: 60px;
    }

        .nested-table th .nested-table td {
            border: 1px solid #ccc;
            background-color: #F7EFE5;
            border-radius: 60px;
            padding: 10px;
            text-align: left;
            color: #674636;
        }

        .nested-table td {
            border: 1px solid #ccc;
            background-color: #FCFAEE;
            color: #000000;
            padding: 10px;
            text-align: left;
        }

    .link {
        color: #674636;
        text-decoration: none;
        padding-left: 35px;
        box-shadow: none;
        text-align: center;
    }

        .link:hover {
            text-decoration: none;
            color: #674636;
            text-decoration: none;
            box-shadow: none;
        }

    /* Button styling */
    .button1 {
        border: 1px solid #ccc;
        background-color: #F7EFE5;
        padding: 10px 20px;
        text-align: center;
        color: #674636;
        display: inline-block;
        font-weight: bold;
    }

        .button1:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
            text-decoration: none;
        }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

</style>
