@model IEnumerable<Items>
@{
    ViewData["Title"] = "Index";
}

<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="text-white" style="">
                <a asp-controller="Items" asp-action="Create" class="btn btn-success" style="border:1px solid white;border-radius:30px;"><i class="bi bi-plus-circle"></i> Add New </a>
            </div>
        }
    </div><!-- End Section Title -->

    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul class="menu-filters isotope-filters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-starters">Starters</li>
                    <li data-filter=".filter-salads">Salads</li>
                    <li data-filter=".filter-specialty">Specialty</li>
                </ul>
            </div>
        </div><!-- Menu Filters -->

        <div class="row isotope-container" data-aos="fade-up" data-aos-delay="200">

            @foreach(var item in Model)
            {
                <div class="col-lg-6 menu-item isotope-item filter-starters">
                    <img src="@item.Imageurl" class="menu-img" alt="">
                    <div class="menu-content">
                        <a href="#">@item.Name</a><span>@item.Price</span>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                            <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-danger" style="border:1px solid white;border-radius:30px;"><i class="bi bi-trash"></i></button>
                            </form>

                        }
                    </div>
                    <div class="menu-ingredients">
                        @item.Description
                    </div>
                    <div class="menu-content">
                        <a class="btn-book-a-table d-none d-xl-block" style="border:1px solid white;border-radius:30px;"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Id">
                            <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
                        </a>
                    </div>
                </div>
            }
        

        </div><!-- Menu Container -->

    </div>

</section><!-- /Menu Section -->
